.first-section{
    height: 35em;
    background-image: url("../images/car\ interior.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.img-contact{
    height: 20em;
    width: 20em;
    /* display: block;
    margin: auto; */
}

.big-size{
    min-height: 25rem;
}

.div-absolute{
    position: absolute;
    
    left: 25%;
    bottom: 10%;
}