<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- titulo -->
        <h2>Contactame</h2>
      </div>
    </div>

    <div class="row">
      <!-- botones -->
      <div class="col">
        
      </div>
    </div>


    <!-- formulario -->
    <form action="">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <!-- <label for="nombre" class="form-label">Nombre</label> -->
            <input
              type="text"
              class="form-control"
              id="nombre"
              aria-describedby="nombre"
              name="nombre"
              placeholder="Nombre"
              required
            />
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <!-- <label for="email" class="form-label">Email</label> -->
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3">
          <!-- <label for="asunto" class="form-label">Asunto</label> -->
          <input
            type="text"
            class="form-control"
            id="asunto"
            aria-describedby="asunto"
            name="asunto"
            placeholder="Asunto"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="mb-3">
          <!-- <label for="asunto" class="form-label">Mensaje</label> -->
          <textarea
            class="form-control"
            name="mensaje"
            id="mensaje"
            cols="30"
            rows="10"
            placeholder="Escriba aqui su mensaje"
            required
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</section>
