<section id="cta" class="bg-primary">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h2>Su tiempo vale, no lo pierda con interminables tramites</h2>
      </div>
    </div>
  </div>
</section>