<!-- TODO PONER FLECHA PARA ABAJO QUE TE LLEVE A LA PROXIMA SECCION -->
<section id="hero" class="mb-4">
  <div class="container d-flex flex-column justify-content-center">
    <!-- columna no visible para celulares  -->
    <div class="custom-row-hero-1 row d-none d-lg-block">

      <div
        class="col mt-5"
      >
        <h1 class="display-1 text-white text-center">Gestoria Integral</h1>
        <h2 class="display-4 text-white text-center">Sandra Traversa</h2>
      </div>

    </div>
    <!-- fin de columna no visible para celulares  -->

    <div class="row d-flex">
      <div class="col">
        <p class="text-white lead text-center fs-4">
          Mandataria con matricula nacional, con años de experiencia en Capital
          federal y Gran buenos aires. Brindo un servicio de excelencia, con
          confidencialidad e integralmente online, para que no tengas que
          moverte de tu casa.
        </p>
      </div>
    </div>

    <div class="row gy-3 justify-content-center">
      <div class="col-12">
        <h1 class="text-white text-center">¿En que lo puedo ayudar?</h1>
      </div>
      <div class="col-4">
        <a href="#vehiculos" class="btn btn-primary btn-lg d-block"
          >Tramites Vehiculares</a
        >
      </div>
      <div class="col-4">
        <a href="#inmuebles" class="btn btn-primary btn-lg d-block">Tramites de Inmuebles</a>
      </div>
    </div>
  </div>
</section>

<!-- <p class="text-white lead text-center fs-4">
          su tiempo vale. no lo pierda con interminables tramites
        </p> -->