<!-- TODO PONER FLECHA PARA ABAJO QUE TE LLEVE A LA PROXIMA SECCION -->
<section id="hero" class="mb-4">
  <div class="container h-100">
    <div class="row h-50 d-flex">
      <div
        class="col d-flex flex-column align-items-center justify-content-center"
      >
        <h1 class="display-1 text-white font-weight-bold">Gestoria Integral</h1>
        <h2 class="display-4 text-white">Sandra Traversa</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-white lead text-center fs-4">
          Mandataria con matricula nacional, con años de experiencia en Capital
          federal y Gran buenos aires. Brindo un servicio de excelencia, con
          confidencialidad e integralmente online, para que no tengas que
          moverte de tu casa.
        </p>
      </div>
    </div>

    <div class="row gy-3 justify-content-center">
      <div class="col-12">
        <h1 class="text-white text-center">¿En que lo puedo ayudar?</h1>
      </div>
      <div class="col-4">
        <a href="#servicios" class="btn btn-primary btn-lg d-block"
          >Vehículo</a
        >
      </div>
      <div class="col-4">
        <a href="" class="btn btn-primary btn-lg d-block">Inmuebles</a>
      </div>
    </div>
  </div>
</section>
