<!-- TODO arrglar tarjetas , solo queda la primera  -->
<!-- SERVICIOS -->
<section id="inmuebles" class="bg-secondary">
  <div class="container px-4 mb-4">
    <div class="row g-4">
      <!-- titulo -->
      <h2 class="fw-bold mb-3 fs-1">Servicios de Inmuebles</h2>

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios-inmuebles d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex align-items-center justify-content-center">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Descuentos en multas y patentes</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      
    <!-- fin row -->
    </div>
  <!-- fin container -->
  </div>
</section>




<h2>inmobiliarios</h2>
<ul>
  <li>informe de dominio</li>
  <li>datos nominales</li>
  <li>planes de pago</li>
  <li>arba</li>
  <li>orientacion y asesoramiento</li>
  <li>cesion de derechos</li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h2>jubilaciones y pensiones</h2>
