<!-- TODO arrglar tarjetas , solo queda la primera  -->
<!-- SERVICIOS -->
<section id="vehiculos" class="">
  <div class="container px-4 mb-4">
    <div class="row g-4">
      <!-- titulo -->
      <h2 class="fw-bold mb-3 fs-1">Servicios Vehiculares</h2>

      <!-- TODO TRATAR DE HACERLO CON ROW-COLUMNS -->
      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex align-items-center justify-content-center">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Descuentos en multas y patentes</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Transferencias</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Inscripciones</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Altas y bajas de patentes</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Infracciones de Transito</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-lg-6">
        <div class="container-servicios d-flex align-items-center justify-content-center">
          <div class="container-icon px-5 d-flex">
            <i class='bx bx-money' ></i>
          </div>
          <div class="container-text px-4 d-flex flex-column">
            <h3 class="fs-5">Titular Fallecido</h3>
            <p class="fs-6">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->
      
    <!-- fin row -->
    </div>
  <!-- fin container -->
  </div>
</section>