<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/custom-css.css">
  
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
    rel="stylesheet"
  />

  <title>Gestoria Integral</title>

  <!-- inspiration template -->
    <!-- http://www.templatemonsterpreview.com/demo/217801.html?_gl=1*lfik7y*_ga*NDA3OTc4NDM5LjE2MzM0ODMyNTQ.*_ga_FTPYEGT5LY*MTY0NzY1MDgzNC45LjEuMTY0NzY1MTAxMy4yNA..&_ga=2.29408191.1417041826.1647650840-407978439.1633483254&_gac=1.115394932.1646940743.CjwKCAiA4KaRBhBdEiwAZi1zzpCGWmHC2R8CwNDIfl8dL7XEfin8Uy8Gc-1CMIUaK9o6iERNtbdR3BoCv-EQAvD_BwE -->

</head>


<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container py-2">
      <a class="navbar-brand" href="#">Sandra Traversa</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mx-3">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Servicios</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Sobre</a>
            </li>
          </ul>
        
      </div>
    </div>
  </nav>
  
<!-- hero -->
<section id="hero">
  <div class="container-fluid h-100">
    <div class="row h-100 d-flex">
      <div
        class="col d-flex flex-column align-items-center justify-content-center"
      >
        <h1 class="display-1 text-white font-weight-bold">
          Gestoria Integral
        </h1>
        <h2 class="display-4 text-white">Sandra Traversa</h2>
      </div>
    </div>
  </div>
</section>


<!-- SOBRE MI  -->
<section id="sobre-mi">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 my-3">
        <img
          src="/images/sobremi2.jpg"
          alt="sobre mi"
          class="img-sobre-mi img-fluid d-block mx-auto"
        />
      </div>
      <div class="col-12 col-md-6 my-3">
        <h3 class="display-5 font-weight-bold d-inline-block titulo-seccion px-5">Sobre Mi</h3>
        <ul>
          <li>mas de x años de experiencia en capital federal y gran buenos aires</li>
          <li>atencion personalizada</li>
          <li>integralmente online, no te muevas de tu casa</li>
          <li>servicio de excelencia</li>
          <li>asesoramiento profesional</li>
          <li>confidencialidad</li>
          <li>mandataria con matricula nacional</li>
          <li></li>
          <li></li>
        </ul>
        <a href="#" class="btn btn-primary">Contactame</a>


      </div>
    </div>
  </div>
</section>


<!-- SERVICIOS -->
<section id="servicios">
  <div class="container-fluid bg-secondary">
    <div class="row">
        <h2>Servicios</h2>
      <div class="col">


        <h2>Tramites de Automotor</h2>
        <ul>
          <li>infracciones de transito</li>
          <li>cedula de posesion</li>
          <li>titular fallecido</li>
          <li>falta de 08</li>
          <li>descuentos de multas y patentes</li>
          <li>altas y bajas de patentes</li>
          <li>transferencias</li>
          <li>inscripciones</li>
          <li>desvinculacion</li>
        </ul>

        

      </div>

      <div class="col">
        <div class="img-servicios-automotor"></div>
      </div>
    </div>

    <h2>inmobiliarios</h2>
        <ul>
          <li>informe de dominio</li>
          <li>datos nominales</li>
          <li>planes de pago</li>
          <li>arba</li>
          <li>orientacion y asesoramiento</li>
          <li>cesion de derechos</li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h2>jubilaciones y pensiones</h2>

  </div>
</section>










  
  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>


  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>



  <!-- FOOTER -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>DNRPA</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.js"></script>
  


</body>
</html>
  


  










  













