<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/custom-css.css">
  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
    rel="stylesheet"
  />

  <title>Gestoria Integral</title>

  <!-- inspiration template -->
    <!-- http://www.templatemonsterpreview.com/demo/217801.html?_gl=1*lfik7y*_ga*NDA3OTc4NDM5LjE2MzM0ODMyNTQ.*_ga_FTPYEGT5LY*MTY0NzY1MDgzNC45LjEuMTY0NzY1MTAxMy4yNA..&_ga=2.29408191.1417041826.1647650840-407978439.1633483254&_gac=1.115394932.1646940743.CjwKCAiA4KaRBhBdEiwAZi1zzpCGWmHC2R8CwNDIfl8dL7XEfin8Uy8Gc-1CMIUaK9o6iERNtbdR3BoCv-EQAvD_BwE -->

</head>


<body>

  <!-- navbar -->
  <%- include("templates/navbar") %>
  
<!-- hero -->
  <!-- TODO PONER FLECHA PARA ABAJO QUE TE LLEVE A LA PROXIMA SECCION -->
<section id="hero">
  <div class="container-fluid h-100">
    <div class="row h-50 d-flex">
      <div
        class="col d-flex flex-column align-items-center justify-content-center"
      >
        <h1 class="display-1 text-white font-weight-bold">
          Gestoria Integral
        </h1>
        <h2 class="display-4 text-white">Sandra Traversa</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-white lead text-center">Mandataria con matricula nacional, con años de experiencia en Capital federal y Gran buenos aires. Brindo un servicio de excelencia, con confidencialidad e integralmente online, para que no tengas que moverte de tu casa.</p>
      </div>
    </div>
  </div>
</section>


<%- include("templates/index_page/servicios") %>











  
  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>


  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>



  <!-- FOOTER -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>DNRPA</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.js"></script>
  


</body>
</html>
  


  










  













