
:root{
  --primary: #8C3B1D;
  --primaryHalfOpacity:rgba(69, 46, 38, 0.9);
  --secondary: #b4ab80;
  --secondaryHalfOpacity: #b4ab8071;
}

/* ///////////////////////// */
/* ////// navbar */
/* ///////////////////////// */

nav{
  z-index: 10;
}

/* ///////////////////////// */
/* ////// hero */
/* ///////////////////////// */

#hero{
  background-image:linear-gradient(var(--primaryHalfOpacity), var(--primaryHalfOpacity)), url('/images/hero1.jpg');
  background-size: cover;
  height: 100vh;
  margin-top: -3.5em;
}

/* ///////////////////////// */
/* ////// servicios */
/* ///////////////////////// */

#servicios{
  /* background-image:linear-gradient(var(--primaryHalfOpacity), var(--primaryHalfOpacity)), url('/images/negocio1.jpg'); */
  background-size: cover;
  height: 100vh;
}

.container-servicios{
  height: 10em;
  background-color: var(--secondaryHalfOpacity);
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.container-icon i{
  font-size: 4em;
}

.container-text{
  border-left: 2px solid var(--primary);
}























.box{
  position: relative;
  width: 90%;
  height: 300px;
  padding: 40px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.box::before{
  content: "";
  position: absolute; 
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.box:hover:before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}


.box .icon i{
  position: absolute;
  left: 40px;
  top: 40px;
  opacity: 0.5;
  font-size: 5em;
  transition: 0.5s;
}

.box:hover .icon i{
  opacity: 1;
  color: white;
  transform: translateY(-40px);
}

.box h3, .box p{
  position: relative;
  top: 60px;
  color: black;
  transition: 0.5s;
}

.box:hover h3, .box:hover p{
  color: white;

}


/* ///////////////////////// */
/* ////// sobre mi */
/* ///////////////////////// */

.img-sobre-mi{
  position: relative;
  max-height: 70vh;
}

.img-sobre-mi::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  color: red;
}

.titulo-seccion{
  border-bottom: 2px dashed var(--primary);
}














/* ////// TODO  VER SI ESTO SIRVE !!!! */ 
.img-servicios-automotor{
  position: relative;
  width: auto;
  height: 100%;
  background-image: url("/images/negocio1.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.img-servicios-automotor:before{
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  top: -20px;
  left: -20px;
  z-index: 1;
  border-top: 10px #8C3B1D solid;
  border-left: 10px #8C3B1D solid;
}