
:root{
  --primaryHalfOpacity:rgba(69, 46, 38, 0.9);
}

/* ///////////////////////// */
/* ////// navbar */
/* ///////////////////////// */

nav{
  z-index: 10;
}

/* ///////////////////////// */
/* ////// hero */
/* ///////////////////////// */

#hero{
  background-image:linear-gradient(var(--primaryHalfOpacity), var(--primaryHalfOpacity)), url('/images/hero1.jpg');
  background-size: cover;
  height: 100vh;
  margin-top: -3.5em;
}

/* ///////////////////////// */
/* ////// sobre mi */
/* ///////////////////////// */

.img-sobre-mi{
  position: relative;
  max-height: 70vh;
}

.img-sobre-mi::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  color: red;
}

.titulo-seccion{
  border-bottom: 2px dashed var(--primary);
}

/* ///////////////////////// */
/* ////// servicios */
/* ///////////////////////// */

.img-servicios-automotor{
  position: relative;
  width: auto;
  height: 100%;
  background-image: url("/images/negocio1.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.img-servicios-automotor:before{
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  top: -20px;
  left: -20px;
  z-index: 1;
  border-top: 10px #8C3B1D solid;
  border-left: 10px #8C3B1D solid;
}