<!-- SERVICIOS -->
<section id="servicios" class="">
  <div class="container mx-auto">
    <div class="row">
      <!-- titulo -->
      <h2 class="display-5 mb-3">Te ayudo con tu vehiculo</h2>

      <!-- inicio de tarjeta -->
      <div class="col-12 col-md-4 container-servicios d-flex py-4">
        <div class="container-icon">
          <i class="bx bxl-sketch"></i>
        </div>
        <div class="container-text">
          <h3 class="fs-5">Descuentos en multas y patentes</h3>
          <p class="fs-6">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
            impedit?
          </p>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-12 col-md-4">
        <div class="bg-primary container-servicios d-flex py-4">
          <div class="container-icon">
            <i class="bx bxl-sketch"></i>
          </div>
          <div class="container text">
            <h3 class="fs-4">Descuentos en multas y patentes</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->

      <!-- inicio de tarjeta -->
      <div class="col-12 col-md-4">
        <div class="bg-primary container-servicios d-flex py-4">
          <div class="container-icon">
            <i class="bx bxl-sketch"></i>
          </div>
          <div class="container text">
            <h3 class="fs-4">Descuentos en multas y patentes</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae,
              impedit?
            </p>
          </div>
        </div>
      </div>
      <!-- fin de tarjeta -->
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <div class="icon">
            <i class="bx bxl-sketch"></i>
          </div>
          <h3>Servicio 1</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet,
            facilis!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<h2>Tramites de Automotor</h2>
<ul>
  <li>infracciones de transito</li>
  <li>cedula de posesion</li>
  <li>titular fallecido</li>
  <li>falta de 08</li>
  <li>descuentos de multas y patentes</li>
  <li>altas y bajas de patentes</li>
  <li>transferencias</li>
  <li>inscripciones</li>
  <li>desvinculacion</li>
</ul>
<div class="col">
  <div class="img-servicios-automotor"></div>
</div>
<h2>inmobiliarios</h2>
<ul>
  <li>informe de dominio</li>
  <li>datos nominales</li>
  <li>planes de pago</li>
  <li>arba</li>
  <li>orientacion y asesoramiento</li>
  <li>cesion de derechos</li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h2>jubilaciones y pensiones</h2>
